<div class="app-container container-fluid">
<div class="row">
  <dashboard-navigation></dashboard-navigation>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lista de Estaciones</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" role="alert" ng-show="vm.errMessage">{{ vm.errMessage }}</div>
        <ul
          uib-pagination
          total-items="vm.totalItems"
          ng-model="vm.currentPage"
          max-size="vm.maxPages"
          items-per-page="vm.pageSize"
          ng-change="vm.pageChanged()"
          boundary-links="true"
          class="pagination-sm"
          force-ellipses="false"
          first-text=""
          last-text=""
          previous-text="Anterior"
          next-text="Siguiente">
        </ul>
        <div class="table-responsive">
        <table class="table table-striped table-hover" ng-if="vm.stations.length">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Localidad</th>
              <th>Región</th>
              <th>Productor</th>
              <!--<th>Ubicación</th>-->
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="station in vm.stations">
              <td>{{station.name}}</td>
              <td>{{station.city}}</td>
              <td>{{station.region}}</td>
              <td>{{station.ownerName}}</td>
              <!--<td>{{station.location.coordinates}}</td>-->
              <td>
                <a href="/#/dashboard/stations-edit/{{station._id}}" class="btn btn-default btn-xs">Editar</a>
                <a href="/#/dashboard/userstations-view/{{station._id}}" class="btn btn-default btn-xs">Ver Estación</a>
                <button type="button" class="btn btn-danger btn-xs" ng-click="vm.deleteStation(station)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        <ul
          uib-pagination
          total-items="vm.totalItems"
          ng-model="vm.currentPage"
          max-size="vm.maxPages"
          items-per-page="vm.pageSize"
          ng-change="vm.pageChanged()"
          boundary-links="true"
          class="pagination-sm"
          force-ellipses="false"
          first-text=""
          last-text=""
          previous-text="Anterior"
          next-text="Siguiente">
        </ul>
        <div ng-if="vm.totalItems==1">
          {{ vm.totalItems }} estación disponible <br/>
        </div>
        <div ng-if="vm.totalItems>1">
          {{ vm.totalItems }} estaciones disponibles <br/>
        </div>
      </div>
    </div>

  </div>

  <footer></footer>
</div>
</div>
