<div class="app-container container-fluid">
<div class="row">
  <dashboard-navigation></dashboard-navigation>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Crear Cuadro de Resumen de Variables</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" role="alert" ng-show="vm.errMessage">{{ vm.errMessage }}</div>
        <div class="alert alert-info" role="alert" ng-show="vm.formInfo">{{vm.formInfo}}</div>

        <form class="form-inline well clearfix">
          <div class="form-group col-md-3">
            <label for="factor" class="control-label">Factor Productivo</label>
            <input class="form-control" id="factor" placeholder="Factor Productivo" type="text" ng-model="vm.newVariable.factor">
          </div>
          <div class="form-group col-md-3">
            <label for="variable" class="control-label">Variable</label><br/>
            <select class="form-control" id="variable" ng-model="vm.newVariable.variable">
              <option ng-repeat="variable in vm.variables" value="{{ variable.value }}">
                {{ variable.text }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="sector" class="control-label">Fecha Inicio</label>
            <div class="input-group">
              <input type="text" readonly
                class="form-control"
                uib-datepicker-popup="{{vm.startCalendar.format}}"
                ng-model="vm.newVariable.startDate"
                is-open="vm.startCalendar.isOpen"
                datepicker-options="vm.dateOptions"
                ng-required="true"
                close-text="Cerrar"/>
                <span class="input-group-btn">
                  <button type="button"
                  class="btn btn-default"
                  ng-click="vm.openCal1()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="sector" class="control-label">Fecha Término</label>
            <div class="input-group">
              <input type="text" readonly
                class="form-control"
                uib-datepicker-popup="{{vm.endCalendar.format}}"
                ng-model="vm.newVariable.endDate"
                is-open="vm.endCalendar.isOpen"
                datepicker-options="vm.dateOptions"
                ng-required="true"
                close-text="Cerrar"/>
                <span class="input-group-btn">
                  <button type="button"
                  class="btn btn-default"
                  ng-click="vm.openCal2()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="sector" class="control-label">Opciones</label>
            <button type="button" class="btn btn-primary btn-block" ng-click="vm.addToNewSummary()">Añadir</button>
          </div>
        </form>
        <hr/>
        <p>Nuevo cuadro de resumen de variables</p>
        <div class="form-group col-md-12">
          <label for="name" class="control-label">Nombre: </label>
          <input class="form-control" id="name" placeholder="Nombre del Resumen" type="text" ng-model="vm.newSummary.name">
        </div>
        <div ng-if="!vm.newSummary.variables.length">
          <p>No se han añadido variables. Si desea crear un nuevo cuadro resumen de variables, añada variables con el formulario de arriba.</p>
        </div>
        <table class="table table-striped table-hover" ng-if="vm.newSummary.variables.length">
          <thead>
            <tr>
              <th>Factor Productivo</th>
              <th>Variable</th>
              <th>Fecha Inicio</th>
              <th>Fecha Término</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="variable in vm.newSummary.variables">
              <td>{{ variable.factor }}</td>
              <td>{{ variable.variable | variableTranslate }}</td>
              <td>{{ variable.startDate | amDateFormat:'DD [de] MMMM' }}</td>
              <td>{{ variable.endDate | amDateFormat:'DD [de] MMMM' }}</td>
              <td>
                <button type="button" class="btn btn-xs btn-danger btn-block" ng-click="vm.removeVariable(variable)">X</button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
        <div class="form-group col-md-3 col-md-offset-9">
          <button type="button" class="btn btn-primary btn-block" ng-click="vm.saveNewSummary()">Guardar Cuadro Resumen</button>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lista de Resúmenes de Variables Disponibles</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover" ng-if="vm.summaries.length">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad de Variables</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="summ in vm.summaries">
              <td>{{ summ.name }}</td>
              <td>{{ summ.variables.length }}</td>
              <td>
                <button type="button" class="btn btn-xs btn-danger btn-block" ng-click="vm.removeSummary(summ)">X</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
