/* Common Styles */
.app-container{
  margin-top: 72px;
}
/* Home page styles */
header{
  margin-top: 100px;
}

.homepage-logos{
  background-color: #18bc9c;
}

/* Bootstrap template overrides */
/* (Valores que sobreescriben a los originales en la plantilla de Bootstrap */
.navbar-inverse{
  background-color: #18bc9c;
  /*background-color: rgba(92,155,63,0.75);*/
}

input[type="file"]{
  display: inline-block;
}

/* Valores para la directiva de mapas de Google */
.angular-google-map-container { height: 400px; }

/* Valores para los gráficos de n3-charts */
.sensorChart {
  height: 300px;
}

.no-padding {
  padding:0px !important;
}

/* Smol input*/
.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

/* Table headers color */
th {
  background-color: #18bc9c;
  color: white;
}

.basic-footer {
  height: 80px;
  padding: 10px;
  background-color: #3a3a3a;
  color: #FFF;
  border-top: 1px solid #eee;
  text-align: left;
}

.dash-nav-header {
  background-color: #18bc9c;
  color: #FFF;
}

.dash-nav-item {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8em;
}
