/* Common Styles */
.app-container{
  margin-top: 72px;
}
/* Home page styles */
header{
  margin-top: 100px;
}

.homepage-logos{
  background-color: #18bc9c;
}

/* Bootstrap template overrides */
/* (Valores que sobreescriben a los originales en la plantilla de Bootstrap */
.navbar-inverse{
  background-color: #18bc9c;
  /*background-color: rgba(92,155,63,0.75);*/
}

input[type="file"]{
  display: inline-block;
}

/* Valores para la directiva de mapas de Google */
.angular-google-map-container { height: 400px; }

/* Valores para los gráficos de n3-charts */
.sensorChart {
  height: 300px;
}
