<div class="app-container container">
  <div class="alert alert-danger" role="alert" ng-show="vm.formError">{{ vm.formError }}</div>
  <div class="alert alert-info" role="alert" ng-show="vm.formInfo">{{vm.formInfo}}</div>
  <form class="form-horizontal" ng-submit="vm.onSubmit()" ng-if="!(vm.userData.token == null || vm.userData.email == null)">
    <fieldset>
      <legend>Cambio de Contraseña</legend>
      <p>Escriba su nueva contraseña para actualizarla.</p>

      <div class="form-group">
        <label for="inputPass1" class="col-lg-2 control-label">Contraseña</label>
        <div class="col-lg-10">
          <input class="form-control" id="inputPass1" placeholder="Password" type="password" ng-model="vm.userData.pass1">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPass2" class="col-lg-2 control-label">Repita la Contraseña</label>
        <div class="col-lg-10">
          <input class="form-control" id="inputPass2" placeholder="Password" type="password" ng-model="vm.userData.pass2">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
