<div class="app-container container-fluid">
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <button class="btn btn-default btn-xs" back-button>< Volver</button>
          Datos de la Estación {{vm.station.name }}
        </h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" role="alert" ng-show="vm.errMessage">{{ vm.errMessage }}</div>
        <div class="alert alert-info" role="alert" ng-show="vm.formInfo">{{vm.formInfo}}</div>
        <div ng-if="vm.station">
          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Fecha: </span>
                <input type="text"
                  class="form-control"
                  uib-datepicker-popup="{{vm.startCalendar.format}}"
                  ng-model="vm.startDate"
                  is-open="vm.startCalendar.isOpen"
                  datepicker-options="vm.dateOptions"
                  ng-required="true"
                  close-text="Cerrar"/>
                  <span class="input-group-btn">
                    <button type="button"
                    class="btn btn-default"
                    ng-click="vm.openCal1()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Categoría: </span>
                <select class="form-control" id="category" ng-model="vm.selection.category">
                  <option ng-repeat="cat in vm.categories" value="{{cat.value}}">
                    {{cat.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="row" style="max-height:350px;margin-top:30px;margin-bottom:30px;">
            <div class="col-md-12">
              <linechart class="sensorChart" data="vm.data" options="vm.options"></linechart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
