<div class="app-container container-fluid">
<div class="row">
  <dashboard-navigation></dashboard-navigation>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <button class="btn btn-default btn-xs" back-button>< Volver</button>
          Estadísticas mensuales para la estación <strong>{{ vm.station.name }}</strong>
        </h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" role="alert" ng-show="vm.errMessage">{{ vm.errMessage }}</div>
        <div class="alert alert-info" role="alert" ng-show="vm.formInfo">{{vm.formInfo}}</div>
        <div ng-if="vm.station">

          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Desde: </span>
                <input type="text"
                  class="form-control"
                  uib-datepicker-popup="{{vm.startCalendar.format}}"
                  ng-model="vm.startDate"
                  is-open="vm.startCalendar.isOpen"
                  datepicker-options="vm.dateOptions"
                  ng-required="true"
                  close-text="Cerrar"/>
                  <span class="input-group-btn">
                    <button type="button"
                    class="btn btn-default"
                    ng-click="vm.openCal1()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Hasta: </span>
                <input type="text"
                  class="form-control"
                  uib-datepicker-popup="{{vm.endCalendar.format}}"
                  ng-model="vm.endDate"
                  is-open="vm.endCalendar.isOpen"
                  datepicker-options="vm.dateOptions"
                  ng-required="true"
                  close-text="Cerrar"/>
                  <span class="input-group-btn">
                    <button type="button"
                    class="btn btn-default"
                    ng-click="vm.openCal2()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Categoría: </span>
                <select class="form-control" id="category" ng-model="vm.selection.category">
                  <option ng-repeat="cat in vm.categories" value="{{cat.value}}">
                    {{cat.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!--
          <div class="row">
            Las fechas seleccionadas son {{vm.startDate | date:'yyyy-MM-dd HH:mm:ss Z' : 'UTC'}} y {{vm.endDate | date:'yyyy-MM-dd HH:mm:ss Z' : 'UTC'}}.
          </div>
          -->

          <div class="row" style="max-height:350px;margin-top:30px;margin-bottom:30px;">
            <linechart class="sensorChart" data="vm.data" options="vm.options"></linechart>
          </div>

          <div class="row">
          <!-- ============Tabla de temperatura=========== -->
          <table ng-if="vm.selection.category=='temperature'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Media Diaria
                </th>
                <th>
                  Media Máxima
                </th>
                <th>
                  Media Mínima
                </th>
                <th>
                  Máxima
                </th>
                <th>
                  Mínima
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.tempMediaDiaria | number:1)}}°C
                </td>
                <td>
                  {{(row.tempMediaMax | number:1)}}°C
                </td>
                <td>
                  {{(row.tempMediaMin | number:1)}}°C
                </td>
                <td>
                  {{(row.tempMaxMax | number:1)}}°C
                </td>
                <td>
                  {{(row.tempMinMin | number:1)}}°C
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Humedad Relativa=========== -->
          <table ng-if="vm.selection.category=='humidity'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Media %
                </th>
                <th>
                  Media Máxima
                </th>
                <th>
                  Media Mínima
                </th>
                <th>
                  h > 95%
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.hrMedia | number:1)}}
                </td>
                <td>
                  {{(row.hrMaxima | number:1)}}
                </td>
                <td>
                  {{(row.hrMinima | number:1)}}
                </td>
                <td>
                  {{row.horas95 | number:1}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Estrés=========== -->
          <table ng-if="vm.selection.category=='stress'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Estrés
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{row.estres | number:1}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Grados Día=========== -->
          <table ng-if="vm.selection.category=='gd'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Max y Min
                </th>
                <th>
                  GDH
                </th>
                <th>
                  GD
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.gdMaxYMin | number:1)}}
                </td>
                <td>
                  {{(row.gdh | number:1)}}
                </td>
                <td>
                  {{(row.gd | number:1)}}
                </td>
            </tbody>
          </table>

          <!-- ============Tabla de Frío=========== -->
          <table ng-if="vm.selection.category=='cold'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  < 10°C
                </th>
                <th>
                  5h < 10°C
                </th>
                <th>
                  < 7°C
                </th>
                <th>
                  Richardson
                </th>
                <th>
                  Unrath
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.mineq10 | number:1)}}
                </td>
                <td>
                  {{(row.min105hrs | number:1)}}
                </td>
                <td>
                  {{(row.mineq7 | number:1)}}
                </td>
                <td>
                  {{(row.richardson | number:1)}}
                </td>
                <td>
                  {{(row.unrath | number:1)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Heladas=========== -->
          <table ng-if="vm.selection.category=='freeze'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Días con heladas
                </th>
                <th>
                  T < 0°
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.diasHel | number:1)}}
                </td>
                <td>
                  {{(row.hrmen0c | number:2)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Horas de distinta temperatura umbral=========== -->
          <table ng-if="vm.selection.category=='tempThres'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  T > 27°C
                </th>
                <th>
                  T > 29°C
                </th>
                <th>
                  T > 32°C
                </th>
                <th>
                  Días con 5 hrs > 27°C
                </th>
                <th>
                  Días con 5 hrs > 29°C
                </th>
                <th>
                  Días con 5 hrs > 32°C
                </th>
                <th>
                  T < 6°C
                </th>
                <th>
                  T < 12°C
                </th>
                <th>
                  T < 18°C
                </th>
                <th>
                  T > 15°C
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.hrmay27c | number:2)}}
                </td>
                <td>
                  {{(row.hrmay29c | number:2)}}
                </td>
                <td>
                  {{(row.hrmay32c | number:2)}}
                </td>
                <td>
                  {{(row.dias5hrsmay27 | number:2)}}
                </td>
                <td>
                  {{(row.dias5hrsmay29 | number:2)}}
                </td>
                <td>
                  {{(row.dias5hrsmay32 | number:2)}}
                </td>
                <td>
                  {{(row.hrmen6c | number:2)}}
                </td>
                <td>
                  {{(row.hrmen12c | number:2)}}
                </td>
                <td>
                  {{(row.hrmen18c | number:2)}}
                </td>
                <td>
                  {{(row.hrmay15c | number:2)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Evapotranspiración=========== -->
          <table ng-if="vm.selection.category=='et'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  ET0
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.et0 | number:1)}} mm
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Largo del día=========== -->
          <table ng-if="vm.selection.category=='daylength'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Horas de luz
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.horasRad12 | number:1)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Horas >300 W/m2=========== -->
          <table ng-if="vm.selection.category=='horasRad300'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Horas >300 W/m2
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.horasRad300 | number:1)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Radiación Máxima=========== -->
          <table ng-if="vm.selection.category=='maxRad'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Radiación Máxima (W/m2)
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.maxRad | number:1)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Energia Solar=========== -->
          <table ng-if="vm.selection.category=='energy'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Energía Solar (MJ/m2)
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.energia | number:1)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Velocidad del Viento=========== -->
          <table ng-if="vm.selection.category=='windSpeed'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Velocidad del Viento (m/s)
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.vmaxViento | number:1)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Precipitaciones=========== -->
          <table ng-if="vm.selection.category=='pp'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Precipitaciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.pp | number:1)}} mm
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Horas Abejas=========== -->
          <table ng-if="vm.selection.category=='hrAbe'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Horas de Abejas
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.hrAbe | number:1)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Horas Abejas=========== -->
          <table ng-if="vm.selection.category=='dpv'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  DPV
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.dpv | number:1)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Horas Abejas=========== -->
          <table ng-if="vm.selection.category=='h2p5DPV'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  h > 2.5 DPV
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.hrsDPVmay2p5 | number:1)}}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ============Tabla de Horas a Temperatura Óptima=========== -->
          <table ng-if="vm.selection.category=='tOpt'" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  Fecha
                </th>
                <th>
                  Horas a T° Óptima
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in vm.data.dataset0">
                <td>
                  {{row.date | amDateFormat:'MMMM YYYY'}}
                </td>
                <td>
                  {{(row.hrTOpt | number:1)}}
                </td>
              </tr>
            </tbody>
          </table>
          </div>

          <!-- ============Exportar a CSV=========== -->
          <div class="row">
          <button class="btn btn-block btn-success"
            type="button"
            ng-csv="vm.getDataInArray()"
            csv-header="vm.getFileHeaders()"
            filename="{{vm.getFileName()}}"
            field-separator="{{vm.getFileSeparator()}}">
            Exportar datos a CSV
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
