<div class="app-container container-fluid">
<div class="row">
  <dashboard-navigation></dashboard-navigation>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Editar la estación</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" role="alert" ng-show="vm.errMessage">{{ vm.errMessage }}</div>
        <div class="alert alert-info" role="alert" ng-show="vm.formInfo">{{vm.formInfo}}</div>
        <form class="form-horizontal" ng-submit="vm.onSubmit()">
        <fieldset>
          <legend>Datos de la Estación</legend>
          <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
              <input class="form-control" id="inputName" placeholder="Nombre" type="text" ng-model="vm.station.name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputCity" class="col-lg-2 control-label">Ciudad</label>
            <div class="col-lg-10">
              <input class="form-control" id="inputCity" placeholder="Ciudad" type="text" ng-model="vm.station.city">
            </div>
          </div>
          <div class="form-group">
            <label for="inputOwner" class="col-lg-2 control-label">Dueño</label>
            <div class="col-lg-10">
              <select class="form-control" id="inputOwner" ng-model="vm.station.owner">
                <option value=""></option>
                <option ng-repeat="user in vm.users" value="{{user._id}}">{{user.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputRegion" class="col-lg-2 control-label">Región</label>
            <div class="col-lg-10">
              <select class="form-control" id="inputRegion" ng-model="vm.station.region">
                <option value="XV">XV de Arica y Parinacota</option>
                <option value="I">I de Tarapacá</option>
                <option value="II">II de Antofagasta</option>
                <option value="III">III de Atacama</option>
                <option value="IV">IV de Coquimbo</option>
                <option value="V">V de Valparaíso</option>
                <option value="M">Región Metropolitana</option>
                <option value="VI">VI del Libertador General Bernardo O'Higgins</option>
                <option value="VII">VII del Maule</option>
                <option value="VIII">VIII del Biobío</option>
                <option value="IX">IX de la Araucanía</option>
                <option value="XIV">XIV de los Ríos</option>
                <option value="X">X de los Lagos</option>
                <option value="XI">XI de Aysén</option>
                <option value="XII">XII de Magallanes y Antártica</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputRegion" class="col-lg-2 control-label">Ubicación</label>
            <div class="col-lg-5">
              <input class="form-control" id="inputLat" placeholder="Latitud" ng-model="vm.cursor.location.latitude">
            </div>
            <div class="col-lg-5">
              <input class="form-control" id="inputLng" placeholder="Longitud" ng-model="vm.cursor.location.longitude">
            </div>
            <div class="col-lg-10 col-lg-offset-2">
              <br/>
              <ui-gmap-google-map
                center='vm.map.center'
                zoom='vm.map.zoom'
                events="vm.map.events">
                <ui-gmap-marker
                  idKey="vm.cursor.id"
                  coords="vm.cursor.location">
                </ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Guardar los cambios</button>
            </div>
          </div>
        </fieldset>
      </form>
      </div>
    </div>
  </div>

  <footer></footer>
</div>
</div>
