<!--
<div class="container">
<header>
  <div class="jumbotron">
  <h1>Monitoreo climático para pomáceas</h1>
  <p><a class="btn btn-primary btn-lg" href="/#/about" role="button">Aprender más</a></p>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="http://desarrollo.agenciasinergia.cl/pomaceas/" class="thumbnail homepage-logos" target="_blank">
        <img src="images/cpomaceas-logo.png" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="http://www.utalca.cl/" class="thumbnail homepage-logos" target="_blank">
        <img src="images/logo_utalca.png" alt="...">
      </a>
    </div>
  </div>
</header>
</div>
-->
<header></header>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="text-pomaceas">
        Sistema de alerta en línea para mejorar la condición y la calidad de manzanas,
        en base a factores ambientales, nutricionales y productivos en el huerto, frente
        a la variabilidad climática.
      </h3>
      <hr/>
      <p class="text-justify">
        El servicio de monitoreo climático en pomáceas, consiste en una plataforma en línea, de consulta, sobre variables climáticas y su incidencia en la calidad y condición de la fruta. Permite a través de modelos, entregar estimaciones de los efectos climáticos de cada temporada, sobre parámetros productivos, como crecimiento del fruto, fecha estimada de cosecha, incidencia de desórdenes fisiológicos, además cuenta con una sección de gestión nutricional. Esta plataforma fue desarrollada, en el marco del proyecto FIA “Sistema de alerta en línea para mejorar la condición y calidad de manzanas, en base a factores ambientales, nutricionales y productivos en el huerto, frente a la variabilidad climática”.
      </p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success btn-sm btn-block"><b>DATOS GENERALES</b> (ACCESO PÚBLICO)</button>
      <a class="btn btn-success btn-sm btn-block"><b>PLATAFORMA</b> (ACCESO USUARIOS)</a>

      <form class="form-horizontal col-md-12" ng-submit="vm.onSubmit()">
        <fieldset>
          <div class="alert alert-danger" role="alert" ng-show="vm.formError">{{ vm.formError }}</div>
          <div class="alert alert-info" role="alert" ng-show="vm.formInfo">{{vm.formInfo}}</div>
          <div class="form-group">
            <br/>
            <label for="inputEmail" class=" control-label">Email</label>
            <input class="form-control" id="inputEmail" placeholder="Email" type="email" ng-model="vm.credentials.email">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="control-label">Contraseña</label>
            <input class="form-control" id="inputPassword" placeholder="Contraseña" type="password" ng-model="vm.credentials.password">
          </div>
          <div class="form-group">
            <div class="col-lg-offset-8 col-lg-4" style="padding:0;">
              <button type="submit" class="btn btn-warning btn-sm btn-block" style="margin:0;">Acceder</button>
            </div>
          </div>
          <div class="form-group">
            <p>¿No tienes una cuenta? <a href="/#/register" class="text-pomaceas">¡Regístrate aquí!</a></p>
            <p>¿Olvidaste tu contraseña? <a href="/#/forgot-password" class="text-pomaceas">¡Recupérala aquí!</a></p>
          </div>
        </fieldset>
      </form>

      <div class="clearfix"></div>
      <hr/>
      <div class="row">
        <div class="col-md-5 sideborder">
          <img class="img-responsive" src="images/logo-fia.png"/>
        </div>
        <div class="col-md-7 bottom-align-text">
          <b>
          PROYECTO FIA<br/>
          CÓDIGO: PYT 2015-0213
          </b>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-wide></footer-wide>
